[Unit]
Description=BT Sniffer Service 

[Service]
Type=idle
User=husarion
Group=husarion
ExecStart=/usr/bin/python3 /home/husarion/sniffer_bt/bt_sniffer/sniffer.py
Restart=always

[Install] 
WantedBy=multi-user.target
